.picture-row {
  display: flex;
}
.picture-column {
  display: flex;
  flex-direction: column;
  height: 279.53px;
}

img {
  margin: 1px;
}

.picture-last {
  filter: brightness(50%);
}
.picture-last:hover {
  filter: brightness(25%);
}